<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                 Владислав Яковицкий, мой лозунг: Done is better than perfect. Лучше сейчас тяп-ляп, чем хорошо, но никогда-))

                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>
            Я когда-то уже был програмистом, писал программы на С++ и SQL, но потом сменил направление и занялся
            менеджментом. Был руководителем во многих компаниях на разном уровне, но вдруг понял, что хочу вернуться 
            обратно в программирование, надоели люди, надоело ими руководить, надоел день сурка каждый день,
             а писать программы интересно. Вернуться, отличная идея, но как? Прошло уже 25 лет с последнего 
             написанного кода. К счастью к этому времени у меня уже вырос сын, который мне посоветовал Питон. 
             Начал постигать -)) Позднее еще что нибудь напишу.
            "</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 